* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Consolas, 'Courier New', monospace;
	transition: 0.6s ease;
}

body {
	background-color: #010101;
}

main {
	max-width: 600px;
	margin-inline: auto;
	margin-block: 3rem;
	border: 1px solid #111;
	padding: 1rem;
	overflow: hidden;
	border-radius: 0.5rem;
}

h2 {
	color: #064;
	text-align: center;
	font-size: 2rem;
	margin-top: 1rem;
}

section {
	display: grid;
	grid-template-columns: 4fr 2fr;
	align-items: center;
	border-bottom: 2px solid #111;
	padding-bottom: 1rem;
	margin-top: 1rem;
}

section:last-of-type {
	border: none;
}

p {
	color: #064;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.5;
}

div {
	background-color: #fa0;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	margin: auto;
}

img {
	width: 75%;
	height: 75%;
	border-radius: 50%;
}

.look:hover {
	transition: 1s;
	border-radius: 3rem;
	background-color: #064;
}

/* ================ */
.parameter-1 .look:hover div {
	transform: scale(1.5);
}

.parameter-2 .look:hover div {
	transform: scaleX(1.5);
}

.parameter-3 .look:hover div {
	transform: scaleY(1.5);
}

/* ================= */
.parameter-4 .look:hover div {
	transform: rotate(90deg);
}

.parameter-5 .look:hover div {
	transform: rotateX(90deg);
}

.parameter-6 .look:hover div {
	transform: rotateY(90deg);
}

/* ==================== */
.parameter-7 .look:hover div {
	transform: translate(9px, 9px);
}

.parameter-8 .look:hover div {
	transform: translateX(9px);
}

.parameter-9 .look:hover div {
	transform: translateY(9px);
}

/* =============== */
.parameter-10 .look:hover div {
	transform: skew(-15deg, -15deg);
}

.parameter-11 .look:hover div {
	transform: skewX(15deg);
}

.parameter-12 .look:hover div {
	transform: skewY(15deg);
}
